*.i*
*.ipr
*.iml
*.idea
*.class
*.jar
*.java
*.log
*.apk
*.aab
*.apk.idsig
*.ap_
*.dex
*.dylib
*.o
*.so
*.out
*.class
*.scc
*.sw?
.*.sw?
*.hprof
*.pyc
*.pyo
.restrictor.properties
captures/
.externalNativeBuild
.cxx
.venv
build/
prebuilts/

# Gradle
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/debug/
!**/src/test/**/debug/
out/

# Kotlin
*.class
*.jar
*.kotlin_metadata
*.kotlinc
*.log
*.prof
*.bin
*.kotlin_builtins
*.kotlin_module

# Allow Gradle wrapper JAR
!gradle/wrapper/gradle-wrapper.jar

# Android
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.externalNativeBuildLocal
.cxx
/localProperties

# IntelliJ
*.iml
**/build/

# OS X
.DS_Store
